@model Escola.Models.Curso
@{
    Layout = "_LayoutModals";
    ViewData["Title"] = "Curso";
}

<div>
    <h4>Deseja continuar?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QtdMaxAlunos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QtdMaxAlunos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>
    </dl>

    <form asp-action="ConfirmarReativacao">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Inativar Matrícula" class="p-2 flex-fill btn btn-outline-secondary btn-sm btn-editado-modal" />
        <button type="button" class="p-2 flex-fill btn btn-outline-secondary btn-sm btn-editado-modal" data-bs-dismiss="modal">Voltar</button>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}